
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
}

#root {
  width: 100vw;
  height: 100vh;
}

/* Sci-fi Scanlines utility */
.scanlines::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(18, 16, 16, 0) 50%,
    rgba(0, 0, 0, 0.25) 50%
  ), linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.06),
    rgba(0, 255, 0, 0.02),
    rgba(0, 0, 255, 0.06)
  );
  background-size: 100% 4px, 3px 100%;
  pointer-events: none;
  z-index: 20;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .mask-image-b {
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  }
}
